:root {
  --main-color: #282c34;
  --primary-color: #61dafb;
  --primary-color-darken-10: #48c1e2;
  --primary-color-darken-20: #48c1e2;
  --white-color: #fff;
}

.App {
  display: block;
  height: 100vh;
}

chat-demo {
  --lobby-background: var(--main-color);
  --lobby-button-background: var(--primary-color);
  --lobby-button-hover-background: var(--primary-color-darken-10);

  --room-background: var(--main-color);
  --room-button-background: var(--primary-color);
  --room-button-hover-background: var(--primary-color-darken-10);

  --message-badge-background: var(--primary-color);
  --message-color: var(--white-color);
  --message-name-color: var(--primary-color-darken-20);
}
